
<form id="question">
  <input id="question_field" type="text" placeholder="Enter question.">
  <input id="question_button" type="submit" value="Get Answer">
</form>
<div id="background">
  <div id="answer">
    <h3></h3>
  </div>
</div>